.container-logo-anim {
        
}

.logo-anim  {
    display: block;
    width: 10rem;
    transform: rotate(-10deg);

    -webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
